
.logo_header{
    
    padding-right: 30vh;
    
    
}
.header_project{
    margin-left: 250px;
    
}

.body_card{
    margin-top: 100px;
    display: inline;
    
}
.header_h1{
    padding-right: 100px;
}
.header_h2{
    padding-right: 50px;
}
.news_item{
    margin: 40px;
    padding: 40px;
    display: block;
}
.project{
    margin: 10vh;
    padding-left: 50vh;
    padding-right: 50vh;
    display: block;
}
.shop_item{
    margin: 10vh;
    display: flex;
    padding: 10px;
    justify-content: space-around;
    
}
.home_items{
    margin: 10vh;
    display: flex;
    padding: 10px;
    justify-content: space-around;
}


